.main {
  margin-left: 200px;
}
.snippet-link .card{
  width: 500px;
  height: 150px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-content: flex-start;
  align-items:baseline;
  word-wrap: break-word;
  overflow: auto;
}

.snippet-page {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.code-title {
  font-size: 14px;
  font-style: normal;

}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.code-owner {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #828282;
  font-size: 8pt;
  font-weight: normal;
}

.code-createtime {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 8pt;
}

.code-language {
  position: absolute;
  top: 20px;
  right: 10px;
  color: #828282;
  border: 0 none;
  background-color: #DCD9E4;
  letter-spacing: 1px;
  font-size: 13px;
}

.additem-form {
  margin-left :40px;
}

fieldset > div > label {
  min-width: 150px;
  text-align: right;
  margin-right: 10px;
}

fieldset > div > div {
  min-width: 500px;
  text-align: left;
}


.form-fields {
  width: 400px;
  display: flex;
  flex-flow: row;
  justify-content: left;


}

