.card-list {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  word-wrap: break-word;
  overflow: auto;

}



.card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:baseline;

}


.additem-form {
  margin-left :40px;
}

fieldset > div > label {
  min-width: 150px;
  text-align: right;
  margin-right: 10px;
}

.form-fields {
  width: 400px;
  display: flex;
  flex-flow: row;
  justify-content: left;


}
